* {
    margin: 0;  
    padding: 0;

} 

body {
    background: #111217;
    color: #f0f0f0;    
    font-family: ;
}

a {
    text-decoration: none;
    color: #f0f0f0;
}

#header {  
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
}


